.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.dashboard .leftPane {
  position: absolute;
  left: 0px;
  top: 0;
  height: 100%;
  width: 72px;
  z-index: 1020;
  background: #939393;
  -webkit-animation: slideInLeft 0.5s;
  -moz-animation: slideInLeft 0.5s;
  -ms-animation: slideInLeft 0.5s;
  -o-animation: slideInLeft 0.5s;
  animation: slideInLeft 0.5s;
}

.line-chart {
	 margin-left : 100px;
}

.line {
  fill: none;
  stroke: #444;
  stroke-width: 1.5px;
}

.widget .widgetBody, .fullScreenContainer .widget .widgetBody {
    width: calc(100% - 10px);
    left: 5px;
}

.dashboard .widgetLabel.top, .small .widgetLabel.bottom {
		/*margin-left : 100px;*/
    height: 32px;
    width: 100%;
    padding: 10px 0 0 0;
}

.widget.small .axisLabel.inline, .axisLabel.inline {
	/*margin-left : 100px;*/
    display: inline-block;
    position: static;
    margin: 0 5px;
}


.selected-li+div {
    color: #FABC2D !important;
    font-weight: bold;
}

.hide {
    display: none !important;
}

.fa-github-square {
    cursor: pointer;
}
